<!DOCTYPE html>
<html>
  <head>
    <title>BuildingLocations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if content_for?(:content) %>
      <%= render "shared/sidebar" %>
    <% else %>
      <%= yield %>
    <% end%>
  </body>
</html>